<div class="pageContainer">
  <footer class="footer">
    <small class="footer__copyright">
      ©2021
      <span class="footer__copyright--brand">we <i class="fas fa-heart"></i> components</span>
    </small>
    <nav class="footer__links">
      <ul>
        <li>
          <a href="https://adalab.es/" class="footer__links--sections" target="_blank">
            Articles
          </a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__links--sections" target="_blank">
            Books
          </a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__links--sections" target="_blank">
            Events
          </a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__links--sections" target="_blank">
            Reasons
          </a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__links--sections" target="_blank">
            Tips
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://adalab.es/" class="footer__links--social" target="_blank">
            Twitter
          </a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__links--social" target="_blank">
            Instagram
          </a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__links--social" target="_blank">
            Mastodon.social
          </a>
        </li>
      </ul>
    </nav>
  </footer>
</div>