  <footer class="footer">

    <div class="wrapper">
      <div class="footer__anchor">
        <a href="index.html#inicio" class="footer__anchor--link"  alt="volver arriba"  title="volver arriba">
          <img src="./assets/images/ico-arrow.svg" alt="volver arriba">
        </a>
      </div>
      <small class="footer__copyright">
        ©2021
        <span class="footer__copyright--brand">we <i class="fas fa-heart"></i> components</span>
      </small>
      <nav class="footer__menu">
        <ul class="sections">
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--sections"
            url="https://adalab.es/"
            text="Articles"
            alt="Web de Adalab"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--sections"
            url="https://adalab.es/"
            text="Books"
            alt="Web de Adalab"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--sections"
            url="https://adalab.es/"
            text="Events"
            alt="Web de Adalab"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--sections"
            url="https://adalab.es/"
            text="Reasons"
            alt="Web de Adalab"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--sections"
            url="https://adalab.es/"
            text="Tips"
            alt="Web de Adalab"
            ></include>
          </li>
        </ul>
        <ul class="social">
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--social"
            url="https://adalab.es/"
            text="Twitter"
            alt="Web de Adalab"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--social"
            url="https://adalab.es/"
            text="Instagram"
            alt="Web de Adalab"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--social"
            url="https://adalab.es/"
            text="Mastodon.social"
            alt="Web de Adalab"
            ></include>
          </li>
        </ul>
      </nav>
    </div>
  </footer>