  <footer class="footer">
    <div class="footer__anchor">
      <a href="#" class="footer__anchor--link"  alt="volver arriba"  title="volver arriba">
        <img src="./assets/images/ico-arrow.svg" alt="volver arriba">
      </a>
    </div>
    <div class="pageContainer">
      <small class="footer__copyright">
        ©2021
        <span class="footer__copyright--brand">we <i class="fas fa-heart"></i> components</span>
      </small>
      <nav class="sections">
        <ul>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--sections"
            url="https://adalab.es/"
            text="Articles"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--sections"
            url="https://adalab.es/"
            text="Books"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--sections"
            url="https://adalab.es/"
            text="Events"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--sections"
            url="https://adalab.es/"
            text="Reasons"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--sections"
            url="https://adalab.es/"
            text="Tips"
            ></include>
          </li>
        </ul>
      </nav>
      <nav class="social">
        <ul>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--social"
            url="https://adalab.es/"
            text="Twitter"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--social"
            url="https://adalab.es/"
            text="Instagram"
            ></include>
          </li>
          <li class="footer__links">
            <include 
            src="link.html"
            aClass="footer__links--social"
            url="https://adalab.es/"
            text="Mastodon.social"
            ></include>
          </li>
        </ul>
      </nav>
    </div>
  </footer>