  <header class="hero">
    <div class="pageContainer">
    <nav class="hero__menu">
      <a href="https://adalab.es/" class="hero__menu--icon" alt="Web de Adalab">
        <img src="./assets/images/ico-menu.svg" alt="Web de Adalab">
      </a>
    </nav>
    <div class="hero__content">
      <h1 class="hero__content--title">
        Anonymous <span class="break">proxy</span>
      </h1>
      <p class="hero__content--text">
        In hac habitasse platea dictumst.
      </p>
      <div class="hero__content--icon">
        <a href="#" class="hero-link"  alt="Reasons to purchase"  title="Reasons to purchase">
          <img src="./assets/images/ico-scroll-down.svg" alt="Reasons to purchase">
        </a>
      </div>
    </div>
  </div>
  </header>

