<header id="up" class="hero">
  <div class="wrapper">
    <nav class="hero__menu">
      <a href="https://adalab.es/" class="hero__menu--icon" alt="Go to Adalab website" target="_blank" title="Go to Adalab website" >
        <img src="./assets/images/ico-menu.svg" alt="Go to Adalab website">
      </a>
    </nav>
    <div class="hero__content">
      <h1 class="hero__content--title">
        Anonymous <span class="break">proxy</span>
      </h1>
      <p class="hero__content--text">
        In hac habitasse platea dictumst.
      </p>
      <div class="hero__content--icon">
        <a href="index.html#reasons" class="hero-link"  alt="Reasons to purchase"  title="Reasons to purchase">
          <img src="./assets/images/ico-scroll-down.svg" alt="Reasons to purchase">
        </a>
      </div>
    </div>
  </div>
</header>

