// fonts
$titleText: "Roboto Slab", serif;
$mainText: "Roboto", sans-serif;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-bold: 700;

$fontSize-xSmall: 14px;
$fontSize-small: 16px;
$fontSize-regular: 18px;
$fontSize-medium: 24px;
$fontSize-sMedium: 32px;
$fontSize-big: 42px;

// colors
$color-dark: #304268;
$color-medium-dark: #0271bc;
$color-medium: #8ccbea;
$color-regular: #eff9ff;
$color-light: white;
$color-secondary: #f26002;

// pixels
$standard-px: 15px;
