// fonts
$titleText: "Roboto Slab", serif;
$mainText: "Roboto", sans-serif;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-bold: 700;

$fontSize-xSmall: 14px;
$fontSize-small: 16px;
$fontSize-medium: 24px;
$fontSize-sMedium: 32px;
$fontSize-big: 42px;

// colors
$color-bg-footer: #304268;
$color-bg-reasons: #eff9ff;
$color-secondary: #f26002;
$color-light: white;

// pixels
$standard-px: 15px;
