* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.wrapper {
  margin: 0 15px; }
  @media all and (min-width: 768px) {
    .wrapper {
      margin: 0 39px; } }
  @media all and (min-width: 1280px) {
    .wrapper {
      margin: 0 85px; } }

.break {
  display: block; }
  @media all and (min-width: 768px) {
    .break {
      display: inline; } }
  @media all and (min-width: 1280px) {
    .break {
      display: inline; } }

.footer__links--social:hover,
.footer__links--sections:hover {
  color: #f26002; }

.hero {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 25%, rgba(0, 0, 0, 0.5) 100%), url(../images/cover.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*center img on website*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .hero__menu {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0271bc;
    position: fixed;
    top: 0;
    left: 0; }
    .hero__menu--icon {
      padding: 12px 14px; }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .hero__content--title {
      font-family: "Roboto Slab", serif;
      font-weight: 700;
      font-size: 42px;
      line-height: 55px;
      text-transform: uppercase;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      color: white;
      text-align: center;
      margin: 284px 0 10px 0; }
    .hero__content--text {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: white;
      text-align: center; }
  .hero__content--icon {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 53px 0; }
  @media all and (min-width: 768px) {
    .hero__content--title {
      font-size: 80px;
      line-height: 106px;
      margin: 384px 0 20px 0; }
      .hero__content--title .break {
        display: block; }
    .hero__content--text {
      font-size: 24px; }
    .hero__content--icon {
      width: 45px;
      height: 45px;
      background-color: white;
      border-radius: 50%;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0 45px 0; } }
  @media all and (min-width: 1280px) {
    .hero__content--title {
      font-size: 100px;
      line-height: 132px;
      margin: 384px 0 0 0;
      text-shadow: 0 2px 5px black; }
      .hero__content--title .break {
        display: block; }
    .hero__content--icon {
      width: 45px;
      height: 45px;
      background-color: white;
      border-radius: 50%;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0 13px 0; } }

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .main__featured {
    margin: 30px 0 45px;
    /*30px 0 45px*/
    line-height: 30px; }
    .main__featured--section {
      text-transform: capitalize;
      line-height: 30px;
      color: #8ccbea;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px; }
    .main__featured--title {
      text-transform: capitalize;
      line-height: 30px;
      font-family: "Roboto Slab", serif;
      font-weight: 700;
      font-size: 24px; }
    .main__featured--abstract {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #4a4a4a;
      margin: 15px 0 30px; }
    .main__featured--link {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #f26002;
      text-decoration: none;
      display: inline-block;
      padding: 10px 25px 10px 26px;
      border: 2px solid #f26002;
      border-radius: 25px;
      background-color: white;
      transition: color ease 0.4s, border-color ease 0.4s; }
      .main__featured--link:hover {
        color: #304268;
        border: 2px solid #304268;
        background-color: #8ccbea; }
    @media all and (min-width: 768px) {
      .main__featured--title {
        font-size: 26px;
        line-height: 45px; }
      .main__featured--link {
        padding: 10px 32.5px 10px 33.5px; } }
    @media all and (min-width: 1280px) {
      .main__featured--title {
        font-size: 32px;
        line-height: 45px; }
      .main__featured--link {
        padding: 10px 67px 10px 68px; } }
    @media all and (min-width: 1280px) {
      .main__featured .wrapper {
        margin: 0 275px; } }
  .main__reasons {
    padding: 30px 0 60px;
    /*30px 0 60px*/
    background-color: #eff9ff;
    width: 100%;
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main__reasons--title {
      font-family: "Roboto Slab", serif;
      font-weight: 700;
      font-size: 24px;
      text-transform: capitalize;
      margin-bottom: 45px; }
      @media all and (min-width: 768px) {
        .main__reasons--title {
          font-size: 26px; } }
      @media all and (min-width: 1280px) {
        .main__reasons--title {
          font-size: 32px; } }
    .main__reasons--subtitle {
      font-family: "Roboto Slab", serif;
      font-weight: 700;
      font-size: 18px; }
      @media all and (min-width: 768px) {
        .main__reasons--subtitle {
          font-size: 24px;
          margin-bottom: 14px; } }
    .main__reasons--text {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 18px; }
      @media all and (min-width: 768px) {
        .main__reasons--text {
          font-size: 20px; } }
    @media all and (min-width: 1280px) {
      .main__reasons {
        padding: 60px 0;
        /*60px 0*/ } }

.reasons-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 45px;
  margin: 0 70px; }
  .reasons-wrapper__item1, .reasons-wrapper__item2, .reasons-wrapper__item3 {
    grid-column: span 3; }
  @media all and (min-width: 768px) {
    .reasons-wrapper {
      grid-column-gap: 27.7px;
      margin: 0 40px; }
      .reasons-wrapper__item1, .reasons-wrapper__item2, .reasons-wrapper__item3 {
        grid-column: span 1;
        grid-row: span 3; } }
  @media all and (min-width: 1280px) {
    .reasons-wrapper {
      grid-template-columns: 350px 350px 350px;
      margin: 0 85px; } }

.reasons-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px 29.5px 10px 30.5px;
  border-radius: 25px;
  background-color: #f26002;
  transition: color ease 0.4s, border-color ease 0.4s;
  margin-top: 45px; }
  .reasons-link:hover {
    color: #8ccbea;
    background-color: #304268; }
  @media all and (min-width: 768px) {
    .reasons-link {
      margin-top: 60px;
      padding: 10px 42.5px 10px 43.5px; } }
  @media all and (min-width: 1280px) {
    .reasons-link {
      padding: 10px 62px 10px 63px; } }

.footer {
  position: relative;
  background-color: #304268;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px; }
  .footer .wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 60px 0 45px; }
    @media all and (min-width: 768px) {
      .footer .wrapper {
        padding: 45px 0;
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
        justify-content: space-between; } }
    @media all and (min-width: 1280px) {
      .footer .wrapper {
        margin: 0 370px; } }
  .footer__anchor {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    /*softer effect*/ }
    .footer__anchor--link {
      margin-top: 8px; }
  .footer__copyright {
    color: white;
    font-size: 14px;
    margin-top: 30px; }
    @media all and (min-width: 768px) {
      .footer__copyright {
        width: 33%; } }
    .footer__copyright--brand {
      display: block; }
    .footer__copyright .fas.fa-heart {
      color: #f26002; }
  @media all and (min-width: 768px) {
    .footer__menu {
      display: flex;
      justify-content: space-between;
      width: 55%;
      /*fake centering*/ } }
  .footer .sections,
  .footer .social {
    margin-top: 30px; }
  .footer__links {
    list-style-type: none; }
    .footer__links--sections, .footer__links--social {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px; }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; }

@-webkit-keyframes bounce {
  0% {
    transform: translate(-50%, -50%);
    /*start*/ }
  50% {
    transform: translate(-50%, -35%);
    /*translate Y axis ONLY*/ }
  100% {
    transform: translate(-50%, -50%);
    /*finish*/ } }

@keyframes bounce {
  0% {
    transform: translate(-50%, -50%);
    /*start*/ }
  50% {
    transform: translate(-50%, -35%);
    /*translate Y axis ONLY*/ }
  100% {
    transform: translate(-50%, -50%);
    /*finish*/ } }

/*# sourceMappingURL=main.css.map */
