.footer {
  height: 465px;
  background-color: $color-bg-footer;
  font-family: $mainText;
  font-weight: $fontWeight-normal;
  line-height: 2 * $standard-px;
  & .pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__anchor {
    position: relative;
    top: -24px;
    width: 3 * $standard-px;
    height: 3 * $standard-px;
    background-color: $color-light;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    &--link {
      position: relative;
      top: 11px;
      left: 0;
    }
  }
  &__copyright {
    color: $color-light;
    margin-top: 2 * $standard-px;
    &--brand {
      display: block;
    }
  }
  .sections {
    margin-top: 2 * $standard-px;
  }
  .social {
    margin-top: 2 * $standard-px;
  }
  &__links {
    list-style-type: none;
    &--sections,
    &--social {
      color: $color-light;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  & .fas.fa-heart {
    color: $color-secondary;
  }
}
