.footer {
  position: relative;
  background-color: $color-dark;
  font-family: $mainText;
  font-weight: $fontWeight-regular;
  line-height: 2 * $standard-px;
  &__anchor {
    @include icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &--link {
      margin-top: 8px;
    }
  }
  & .wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 4 * $standard-px 0 3 * $standard-px;
    @include tablet {
      padding: 3 * $standard-px 0;
      flex-direction: row;
      text-align: left;
      align-items: flex-start;
      justify-content: space-between;
    }
    @include desktop {
      margin: 0 370px;
    }
  }
  &__copyright {
    color: $color-light;
    font-size: $fontSize-xSmall;
    margin-top: 2 * $standard-px;
    &--brand {
      display: block;
    }
    & .fas.fa-heart {
      color: $color-secondary;
    }
  }
  .sections,
  .social {
    margin-top: 2 * $standard-px;
  }
  &__links {
    list-style-type: none;
    &--sections,
    &--social {
      color: $color-light;
      text-transform: uppercase;
      text-decoration: none;
      font-size: $fontSize-small;
    }
  }
}
